# Java
*.class

# Mobile Tools for Java
.mtj.tmp/

# Built binaries
native/out

# Android Studio / Gradle
*.iml
.gradle
/local.properties
/.idea
.idea
/build
/captures
.ccache
ccache
.history
.vscode

# Rust
target/
Cargo.lock

# Build artifacts
*.o
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
